accelerate>=0.16.0
torchvision
transformers>=4.25.1
ftfy
tensorboard
datasets
easydict
omegaconf
imageio
bitsandbytes
trimesh
pandas
tqdm
matplotlib
torch_scatter
ninja
einops
inplace_abn
SentencePiece
opencv-python
PyMCubes
icecream
